@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

#id {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #381d2a;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #aabd8c;
    color: #381d2a;
    border: #381d2a solid;
}
footer {
    background-color: #aabd8c;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 80px;
}
footer h3 a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
nav {
    display: flex;
    justify-content: space-around;
}
body {
    background-color: #f9f9f9;
    font-family:'Tiro Devanagari Hindi', serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #9e90a2;
    display: grid;
    grid-template-columns: 150px auto;
}
#homepage-title {
    background-color: #aabd8c;
    margin-top: -10px;
    height: 150px;
    border: #381d2a solid;
}
.homepage-title {
    text-align: center;
    font-size: 50px;
    margin-top: 35px;
    background-color: #ffffff;
    margin-left: 300px;
    margin-right: 300px;
    border: #381d2a solid;
    font-family: 'Secular One', sans-serif;
    word-spacing: 10px;
}
#homepage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#black-gold {
    grid-column: 2/6;
    grid-row: 1/2;
    margin-top: 100px;
}
#para1 {
    background-color: #9e90a2;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 5/10;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #6f7364;
    height: 300px;
    margin-top: 150px;
    border: #381d2a solid thick;

}
#handing-gift {
    grid-column: 7/10;
    grid-row: 2/3;
    margin-top: 50px;
}
#para2 {
    grid-column: 2/8;
    grid-row: 2/3; 
    background-color: #381d2a;
    color: #ffffff;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    height: 200px;
    margin-top: 100px;
    border: #9e90a2 solid thick;
}
.presents {
    box-shadow: 5px 5px 10px #6f7364;
}
form {
/* Center the form on the page */
margin-left: 25px;
width: 800px;
/* Form outline */
padding: 1em;
border: 1px solid #381d2a;
border-radius: 1em;
margin-top: 10px;
background-color: #9e90a2;
box-shadow: 5px 5px 10px #6f7364;
grid-row: 3/4;
grid-column: 1/4;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

form li + li {
margin-top: 1em;
}

label {
/* Uniform size & alignment */
display: inline-block;
width: 80px;
text-align: left;
background-color: white;
border: #999 solid thin;
border-radius: 5px;
}

input,
textarea {
/* To make sure that all text fields have the same font settings
By default, textareas have a monospace font */
font: 1em sans-serif;

/* Uniform text field size */
width: 700px;
box-sizing: border-box;

/* Match form field borders */
border: 1px solid #999;

}

input:focus,
textarea:focus {
/* Additional highlight for focused elements */
border-color: #000;
}

textarea {
/* Align multiline text fields with their labels */
vertical-align: top;

/* Provide space to type some text */
height: 5em;
}

.button {
/* Align buttons with the text fields */
padding-left: 90px; /* same size as the label elements */
}

button {
/* This extra margin represent roughly the same space as the space
between the labels and their text fields */
margin-left: .5em;
} 
#contactus {
    background-color: #aabd8c;
    margin-top: -10px;
    height: 225px;
    border: #381d2a solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#contact-title {
    text-align: center;
    font-size: 25px;
    background-color: #ffffff;
    border: #381d2a solid;
    font-family: 'Secular One', sans-serif;
    word-spacing: 10px;
    grid-column: 3/6;
    height: 125px;
    margin-top: 45px;
    margin-left: -75px;
    margin-right: -75px;
}
#leaves {
    grid-column: 1/2;
    margin-left: 75px;
    margin-top: 10px;
    border: #381d2a solid;
    margin-bottom: auto;
    box-shadow: 5px 5px 10px #6f7364;
}
#frontstep {
    grid-column: 7/8;
    margin-right: 75px;
    margin-top: 10px;
    border: #381d2a solid;
    margin-bottom: auto;
    box-shadow: 5px 5px 10px #6f7364; 
}
.contact-photo {
    margin-bottom: -5px;
}
#contactmain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#para5 {
    grid-column: 1/5;
    grid-row: 1/2;
    margin-left: 25px;
    text-align: center;
    margin-top: 75px;
    font-size: 20px;
    line-height: 25px;
    border: #381d2a solid 10px;
    margin-bottom: 65px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px 10px #6f7364; 
}
#para6 {
    grid-column: 2/6;
    grid-row: 2/3;
    margin-right: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    border: #381d2a solid 10px;
    margin-bottom: 125px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px 10px #6f7364; 
}
#form-title {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 75px;
    margin-top: 200px;
    margin-left: 25px;
    background-color: #aabd8c;
    text-align: center;
    border-radius: 10px;
    border: #381d2a solid;
}
#shop-title {
    background-color: #aabd8c;
    margin-top: -10px;
    height: 150px;
    border: #381d2a solid;
}
.shop-title {
    text-align: center;
    font-size: 50px;
    background-color: #ffffff;
    margin-left: 300px;
    margin-right: 300px;
    border: #381d2a solid;
    font-family: 'Secular One', sans-serif;
    word-spacing: 10px; 
}
#shopmain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#para3 {
    grid-column: 1/9;
    margin-left: 25px;
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    line-height: 25px;
    border: #9e90a2 solid;
    margin-bottom: 65px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px 10px #6f7364;
    margin-right: 25px;   
}
#para4 {
    grid-column: 1/9;
    margin-left: 25px;
    text-align: center;
    margin-top: -20px;
    font-size: 20px;
    line-height: 25px;
    border: #381d2a solid 6px;
    margin-bottom: 65px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px 10px #6f7364;
    margin-right: 25px;   
    background-color: #9e90a2; 
}
#fourth-title {
    grid-column: 1/9;
    justify-self: center;
}
#fourthgift {
    grid-column: 1/9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#hallow-title {
    grid-column: 1/9;
    justify-self: center;
}
#halloweengift {
    grid-column: 1/9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}   
.holiday {
    background-color: #ffffff;
    border: #000 solid;
    text-align: center;
    font-size: 30px;
    margin-top: -140px;
    position: absolute;
    margin-left: 120px;
    padding-left: 25px;
    padding-right: 25px;
}
.shop-photo {
    border: #381d2a solid;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: -20px;
    margin-bottom: 40px;
    border-radius: 10px;
}
.cheap {
    grid-column: 1/2;
    margin-bottom: 70px;
    margin-left: 150px;
    border: #9e90a2 solid 5px;
    padding: 25px;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px;
    transition: transform .5s;
}
.middle {
    grid-column: 3/4;
    margin-bottom: 70px;
    margin-left: 50px;
    margin-right: 50px;
    border: #6f7364 solid 5px;
    padding: 25px;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px;
    transition: transform .5s;
}
.high {
    grid-column: 5/6;
    margin-bottom: 70px;
    margin-right: 150px;
    border: #381d2a solid 5px;
    padding: 25px;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px;
    transition: transform .5s;
}
.cheap:hover {
    opacity: .6;
    transform: scale(1.1);
}
.middle:hover {
    opacity: .6;
    transform: scale(1.1);
}
.high:hover {
    opacity: .6;
    transform: scale(1.1);
}
.price {
    text-align: center;
    font-weight: bolder;
    border: #381d2a solid thin;
}
.desc {
    text-align: center;
}
.holiday-gift {
    justify-self: center;
    border: #000 solid;
}